# Node
**/node_modules
node_modules

# OS
.DS_Store

# Local Netlify folder
.netlify

# Any local overrides
*.local.*

# Typescript incremental build files
**/*.tsbuildinfo

# Production code
**/build
**/dist

# Any logs
**/*.log

# VS Code
.vscode/**

# Turborepo
.turbo